<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madhuri</title>
</head>
<body bgcolor="cyan">
    <h1 align="center"><font color="white"> <b> Student Technical Courses</b></font> </h1>
<table align="center" border="3" height="500" width="500"> 
<tr>
    <th><h1>Courses</h1></th>
    <th><h1>Website_Materials</h1></th>
  </tr>
  <tr>
    <td>Operating systems</td>
    <td><a href="https://www.geeksforgeeks.org/operating-systems/">Click to os</a></td>
  </tr>
  <tr>
    <td>Computer Networks</td>
    <td><a href="https://www.javatpoint.com/computer-network-tutorial">Click to cn</a></td>
  </tr>
<tr>
    <td>Java language</td>
    <td><a href="https://www.w3schools.com/java/">Click to java</a></td>
  </tr>
<tr>
    <td>Python Language</td>
    <td><a href="https://www.w3schools.com/python/">Click to python</a></td>
  </tr>
<tr>
    <td>Data Science</td>
    <td><a href="https://www.geeksforgeeks.org/what-is-data-science/">Click to datascience</a></td>
  </tr>
<tr>
    <td>Machine Learning</td>
    <td><a href="https://www.geeksforgeeks.org/machine-learning/">Click to ML</a></td>
  </tr>
<tr>
    <td>Cloud Computing</td>
    <td><a href="https://www.javatpoint.com/cloud-computing">Click to CloudComputing</a></td>
  </tr>
<tr>
    <td>Database management systems</td>
    <td><a href="https://www.javatpoint.com/dbms-tutorial">Click to dbms</a></td>
  </tr>
</table>

    
 </body>
</head>
</html>
